* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;

  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

  min-height: 100vh;
}

.page {
  margin: 0 auto;
  padding: 6.5rem 4rem 0;
}

/*HEADER ==================*/
.page nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.5rem;
}

.page nav ul {
  list-style: none;
  font-family: 'Mulish', sans-serif;
  font-size: 1.8rem;

  display: flex;
  gap: 4.8rem;
}

a {
  text-decoration: none;
  color: #1F1534;
}

ul li a {
  opacity: 0.5;
  font-weight: 700;
}

ul li a:hover {
  opacity: 1;
}

/*CONTENT =================*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.text {
  max-width: 49rem;
}

h1 {
  font-size: 4.9rem;
  line-height: 5.6rem;
  font-weight: 400;
  font-family: 'Mulish', sans-serif;
  color: #1F1534;
}

h1 span {
  color: #89C5CC;
  font-weight: 700;
}

p {
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #7D7987;

  margin: 4rem 0;
}

/*CONTENT-BUTTON =================*/
button {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  background: #69B99D;
  border: 0;
  padding: 1.4rem 3.2rem 1.5rem;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  cursor: pointer;
}

button:hover {
  background: #2c8d6b;
}

/*FOOTER =================*/
footer {
  font-size: 1.4rem;
  line-height: 2.8rem;

  text-align: center;

  margin-top: 8rem;
}

footer a {
  font-weight: 700;
  text-decoration: none;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}

@media (min-width: 1000px) {
  .page {
    max-width: 110rem;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}